@import "../bower_components/bootstrap/dist/css/bootstrap.min.css"


/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}

/*
 My Universal Bootstrap Style

*/


 input:focus {
    outline:none;
} 

.form-control:focus{
    border: none;
    box-shadow: none;
}




/*
 My Code :)

*/

.mynavstyle{
    padding-top: 2rem;
    background-color: #e6e7e8;
    position: fixed;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    border-radius: 0px;  
    border-bottom: 1px solid #bbbdc0;
}


.navSearch{
  
    padding-left: 2rem;
    border: none;
    color: #00bfa5;
    max-width: 350px;
    max-height: 100px;
    font-style: italic;


        .locationBar{
            border: none;
        }
}

.searchButton{
    width: 75px;
    height: 25px;
    background-color: #00bfa5;
    color: white;
    border: none;
    border-radius: 5px;
    
}


.searchButton:hover{
     background-color: #66d9c9;
      color: #00695c;
}


.sidebar {
    padding-top: 9rem;
    position: fixed;
    height: 100%;
    left: 0;
    background-color: #66d9c9 ;
   

    
        .navbutton{
            color: white;
            background-color: #00bfa5;
            border-radius: 0px;
            border-left: none;
            border-right: none;
            border-top: 1px dotted white;
            border-bottom: 1px dotted white;
            height: 7rem;
            font-weight: bold;
            font-size: 1.5rem;
            letter-spacing: 1px;
            text-align: center;


        }

        .navbutton:hover{
              background-color: #66d9c9;
              color: #00695c;
        }
        .navbutton:active{
            outline:none;
        }
}

.logBg{
    padding-top: 10rem;
}
.logLogo{
    background-image:url("../images/petset_logo.svg");
    repeat: none;
    width: 150px;
    height: 150px;
    margin: auto;
    padding-top: 10rem;
}

.formLog{
    margin: auto;
}

.logPass{
   margin-left: 200px;
   margin-top: 1rem;
   max-width: 300px;
   color: #00bfa5;
   border: 1px solid #00bfa5;

}

.logEmail{
   margin-left: 200px;
   margin-top: 10rem;
   max-width: 300px;
   color: #00bfa5;
   border: 1px solid #00bfa5;

}

.joinButton{
    margin-left: 20rem;
    background-color: #00bfa5;
    color:white;
    border:none;

}

.joinButton:hover{
      background-color: #66d9c9;
      color: #00695c;
}

.joinButton:active{
      background-color: #66d9c9;
      color: #00695c;
}


.map-container{
    padding-left: 168px;
    padding-top: 10rem;
    height: 100vh;
}

.hostEvent{
    width: 100vh;
    height: 100vh;
  
}

.host{
    padding-left: 20rem;
    padding-top: 16rem;
    padding-bottom: 6rem;
    background-color: #fff;
    height: 100vh;
    width: 2000px;
    background-image:url("../images/petset_bg.svg");
    background-size: cover;

    .hostForm{
        width: 500px;
        background-color: #fff;
        padding-top: 4rem;
        padding-left: 4rem;
        vertical-align: middle;

    }

    .eventForm{
        border: 2px solid #66d9c9;
        color:  #00695c;
        max-width: 400px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 5px;
        padding: 5px;
    }

    .eventDescription{
        border: 2px solid #66d9c9;
        color:  #00695c;
        width: 400px;
        height: 200px;
        border-radius: 5px;
        padding: 5px;
        margin-top: 1rem;
        
    }

    .eventDate{
        border: 2px solid #66d9c9;
        color:  #999;
        font-family: helvetica;


    }

    .eventButton{
        
        background-color: #00bfa5;
        color:white;
        border:none;
        margin-left: 1rem;
    }

    .eventButton:hover{
        background-color: #00bfa5;
        color: #00695c;
    }

    .eventButton:active{
        background-color: #66d9c9;
        color: #00695c;
    }
    .eventButton:focus{
    outline:none;
    background-color: #00bfa5;

    }
}

    
